.logo-ico {
	width: 50px;
	height: 50px;
	background-image: url('/img/logo.png');
	background-size: cover;
}

.video-section .item{
	opacity:0.4;
	transition:.4s ease all;
	margin:0 20px;
	transform:scale(.8);
  }
  
  @media(max-width:1000px){
	.video-section .item{margin:0; transform:scale(.9)}
  }
  
  .video-section .active .item{
	opacity:1;
	transform:scale(1);
  } 
    
  .video-section .owl-item {
	  -webkit-backface-visibility: hidden;
	  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }
  
  .video-section video{
	max-width:100%;
	height:auto;
  }

  .carousel-item {
    transition: transform 2.0s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2.0s;
  }

  .banner {
      min-height: 45%;
  }